.Quote--page {
  background: linear-gradient(to left, #3b486b, #1d1144);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 150px;

  .back--link {
    position: fixed;
  }

  &__card {
    background-color: #ffffff;
    padding: 50px;
    max-width: 1200px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

    h2 {
      font: 400 24px 'Merriweather';
      padding: 0 20px;
      text-align: center;
      letter-spacing: 1px;
      position: relative;
      margin-bottom: 30px;

      &:before {
        position: absolute;
        content: open-quote;
        top: 0;
        left: -5px;
        color: black;
        font-size: 34px;
      }
    }

    h3 {
      text-align: right;
      font: 400 16px 'Merriweather';
      letter-spacing: 1px;
      margin-bottom: 30px;
    }

    button {
      background-color: #dc4c3b;
      padding: 10px 20px;
      color: #ffffff;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
      letter-spacing: .5px;
      transition: all .3s ease;
      font: 400 17px 'Merriweather';
      float: right;

      &:hover {
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
      }
    }
  }
}