.Categories--page {
  background: linear-gradient(to left, #a9ac8e, #3b486b);
  display: flex;
  justify-content: space-around;
  padding: 30px;

  &__column {
    display: flex;
    flex-direction: column;
  }

  .Category {
    padding: 10px;
    margin-bottom: 50px;
    transition: all .5s ease;

    &:hover {
      transform: scale(1.1, 1.1);
    }
    img {
      width: 100%;
      margin-bottom: 30px;
    }

    p {
      color: #ffffff;
      text-align: center;
      font: 700 20px 'Merriweather'
    }
  }
}